.app {
  margin: 30px;
  text-align: center;
  padding: 30px;
}

.btn {
  margin: 0px 20px;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.app__formContent {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
